* {
         box-sizing: border-box;
         margin: 0;
         padding: 0;
}

.books-list {
         z-index: 0;
}
 
.search-box {
         position: relative;
}

.search-results ul {
         background-color: antiquewhite;
         display: none;
         padding: 5px;
         position: absolute; 
         min-width: 90%;
         z-index: 50000;
}

.search-results li{
         list-style: none;
         border: rgb(231, 211, 184) solid 0.5px;
         margin: 1px;
}